<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ionicmaterialdesign871545" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Ionic Material</name>
    <description>
        Ionic example using ngMaterial
    </description>
    <author>
        Edgar Arguelles
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="16"/>
    <preference name="BackupWebStorage" value="none"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <plugin name="cordova-plugin-geolocation" spec="^1.0.1"/>
</widget>